body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
.container{
  width: 80%;
  height: auto;
}
.nav-link{
  color: white;
}
.navbar-nav{
  text-align: center;
  margin-left: 100px;
}

/*.navbar {
  flex-direction:row;
  
  
}*/
.banner-image {
  background-image:linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%),  url('C:\\Users\\DESAI\\Desktop\\dd\\Peaas_work\\Html_demo\\conbusi\\images\\banner\\banner_2.png');
  height: 450px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 0px;
  z-index: -1;
}
.banner-btn, .navbar-btn,.about-btn{
  border-radius: 30px;
  border: none;
  padding: 5px 30px 5px 30px;
}
.banner-btn,.about-btn{
  margin-bottom: 20px;
}

h1{padding-top: 150px;
}
.container-fluid {
  position: relative;
  text-align: center;
  color: white;
}
.title{
  margin: 40px;
}

.icon-card{
  width: 100%;
  border: 1px solid rgb(196, 196, 196);
  margin: 20px;
  text-align: center;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
}

.card-title {
  color: grey;
}

h3{
  text-align: center;
}
.info-banner1,.info-banner, .info-banner2{ 
  color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
  margin: auto;
}

.info-banner1{ 
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("C:\\Users\\DESAI\\Desktop\\dd\\Peaas_work\\Html_demo\\conbusi\\images\\about\\counter.png");
}
.info-banner  { 
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("C:\\Users\\DESAI\\Desktop\\dd\\Peaas_work\\Html_demo\\conbusi\\images\\banner\\info_banner.png");
}
.info-banner2  { 
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("C:\\Users\\DESAI\\Desktop\\dd\\Peaas_work\\Html_demo\\conbusi\\images\\banner\\testmonial.png");
}
.info-btn{
  background-color: cornflowerblue;
  color: #ffffff;
  border-radius: 30px;
  display: inline-block;
  border: none;
  padding: 5px 30px 5px 30px;
}

.about{
  margin: 100px;
}
.about-text{
  margin-top: 120px;
}
.about-img img{
 border-radius: 15px;
}
/* footer start */
.footer-text {
  color: grey;
  font-size: 13px;
}
/* footer end */