body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
.container{
  width: 80%;
  height: auto;
}
.nav-link{
  color: white;
}
.navbar-nav{
  text-align: center;
  margin-left: 100px;
}

/*.navbar {
  flex-direction:row;
}*/
.banner-image {
  background-image:linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%),  url('C:\\Users\\DESAI\\Desktop\\dd\\Peaas_work\\Html_demo\\conbusi\\images\\banner\\banner_2.png');
  height: 450px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 0px;
  z-index: -1;
}
.banner-btn, .navbar-btn,.about-btn{
  border-radius: 30px;
  border: none;
  padding: 5px 30px 5px 30px;
}
.banner-btn,.about-btn{
  margin-bottom: 20px;
}

h1{padding-top: 150px;
}
.container-fluid {
  position: relative;
  text-align: center;
  color: white;
}
.title{
  margin: 40px;
}

.svg_icon1{
  position: center;
  border-radius:100px;
  background: linear-gradient(to bottom, #6122f7 0%, #bfe7f1 100%);
  height: 80px;
  width: 80px;
  padding: 20px;
  margin: 40px 40px 40px 80px;
}
.svg_icon2{
  position: center;
  border-radius:100px;
  background: linear-gradient(to bottom, #37df53 0%, #65db41 100%);
  height: 80px;
  width: 80px;
  padding: 20px;
  margin: 40px 40px 40px 80px;
}
.svg_icon3{
  position: center;
  border-radius:100px;
  background: linear-gradient(to bottom, #f58013 0%, #ee842c 100%);
  height: 80px;
  width: 80px;
  padding: 20px;
  margin: 40px 40px 40px 80px;
}
.svg_icon4{
  position: center;
  border-radius:100px;
  background: linear-gradient(to bottom, #6213f5 0%, #de2cee 100%);
  height: 80px;
  width: 80px;
  padding: 20px;
  margin: 40px 40px 40px 80px;
}
.svg_icon5{
  position: center;
  border-radius:100px;
  background: linear-gradient(to bottom, #6122f7 0%, #bfe7f1 100%);
  height: 80px;
  width: 80px;
  padding: 20px;
  margin: 40px 40px 40px 80px;
}
.svg_icon6{
  position: center;
  border-radius:100px;
  background: linear-gradient(to bottom, #db13f5 0%, #2c2fee 100%);
  height: 80px;
  width: 80px;
  padding: 20px;
  margin: 40px 40px 40px 80px;
}
.icon-card{
  width: 100%;
  border: 1px solid rgb(216, 214, 214);
  margin: 20px;
  text-align: center;
  padding-bottom: 50px;
}
.quote_icon{
  margin-bottom: 30px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: 30px;
  border-radius: 10px;
}
.card-text{
  margin: 20px;
}
.ico-text{
  color: gray;
  font-size:small ;
}
.card-title {
  color: grey;
}
.case-btn{
  border-radius: 30px;
  padding: 5px 30px 5px 30px;
  text-align: center;
  background: none;
  border: 1px solid rgb(84, 84, 230);
  color: blue;
  margin:50px 80px 50px 500px;
}
.border-bottom{
  border-bottom: 1px solid rgb(151, 151, 151);
  margin:auto;
}

.info2-text{
  margin-top:20px ;
}
h3{
  text-align: center;
}
.info-banner1,.info-banner, .info-banner2{ 
  color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
  margin: auto;
}

.info-banner1{ 
  background-image: linear-gradient(rgba(0, 29, 56,0.5), rgba(20, 29, 56,0.5)), url("C:\\Users\\DESAI\\Desktop\\dd\\Peaas_work\\Html_demo\\conbusi\\images\\about\\counter.png");
}
.info-banner  { 
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("C:\\Users\\DESAI\\Desktop\\dd\\Peaas_work\\Html_demo\\conbusi\\images\\banner\\info_banner.png");
}
.info-banner2  { 
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("C:\\Users\\DESAI\\Desktop\\dd\\Peaas_work\\Html_demo\\conbusi\\images\\banner\\testmonial.png");
}
.info-btn{
  background-color: cornflowerblue;
  color: #ffffff;
  border-radius: 30px;
  display: inline-block;
  border: none;
  padding: 5px 30px 5px 30px;
}

.about{
  margin: 100px;
}
.about-text{
  margin-top: 120px;
}
.about-img img{
 border-radius: 15px;
}
/* footer start */
.footer-text {
  color: grey;
  font-size: 13px;
}
/* footer end */